<div class="kitten">
  <%= link_to (image_tag kitten.image), new_kitten_categorization_path(kitten.id), class: "kitten-link" %>
  <% kitten.categories.each do |category| %>
    <%= category.name %>
  <% end %>
</div>