<div class="kitten">
  <%= link_to (image_tag kitten.image), new_kitten_categorizations_path(kitten.id), class: "kitten-link" %>
  <ul class="categorizations">
    <% kitten.categorizations.each do |categorization| %>
      <ul><%= Category.find(categorization.category_id).name %></ul>
    <% end %>
  </ul>
</div>